{% extends "base_generic.html" %}

{% block content %}
  <h1>Naviera Sky</h1>
  <p>Estos son los registros actuales de Naviera Sky:</p>
    <div class="container">
          <ul class="list-group">
            <li class="list-group-item"><strong>Contenedores:</strong> {{ contenedores }}</li>
            <li class="list-group-item"><strong>Salidas:</strong> {{ salidas }}</li>
            <li class="list-group-item"><strong>Ingresos:</strong> {{ ingresos }}</li>
            <li class="list-group-item"><strong>Clientes:</strong> {{ clientes }}</li>
            <li class="list-group-item"><strong>Productos:</strong> {{ productos }}</li>
        </ul>
    </div>
{% endblock %}
